#title{
    background-color: #FF4C68;
    /* height: 50rem; */
}
.row h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: #fff;
    /* text-align: center; */
    /* line-height: 1.5; */
}
.container-fluid{
    padding: 3% 15% 7%;
}


/* Navigation bar */
.navbar{
    padding:0 0 2.5rem 0;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-size: 1.2rem;
}

/* Download buttons */
.donwload-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.feature-box{
    text-align: center;
    padding: 0 4.5% 4.5% 4.5%;
}
.feature-box h3{
    font-family: 'Montserrat', sans-serif;
}
.feature-box p{
    color: #8f8f8f;
}
.features-logo{
    color: #ef8172;
    margin-bottom: 1rem;
}

.features-logo:hover{
    color: #FF4C68;
}

#testimonials{
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}
#testimonials h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    text-align: center;
    background-color:#ef8172;
    padding-bottom: 3%;

}
.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;

}
#pricing{
    text-align: center;
    padding: 5% 15%;
}
.card-body h1{
    color: black;
}


.pricing-column{
    padding: 3%;
}
#cta{
    text-align: center;
    background-color: #FF4C68;
    color: #fff;
    padding: 4% 15%;

}
#cta h3{
    padding: 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
#footer{
    text-align: center;
    color: black;
    background-color: #fff;
    padding: 0% 15%;
}
#footer p{
    font-size: large;
}
.footerlogo i{
    padding: 1.7%;
    font-size: larger;
}


@media (max-width:995px){
    #title{
        text-align: center;
    }
    .title-img{
        width: 40%;
        transform: rotate(0deg);
        position: static;
        /* right: 30%; */
    }
}